

.sign_up {
  width: 100vw;
  height: 100vh;
  background-image: url('https://picsum.photos/id/238/1920/1080');
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.signup_form {
  width: 90%;
  max-width: 600px;
}


@media (max-width: 576px) {
  .signup_form {
    padding: 0.5rem; /* Reduce padding on smaller screens */
  }
  .text-light {
    font-size: 1rem; /* Adjust text size */
  }
  .signup_form .fs-5 {
    font-size: 1.2rem; /* Adjust font size for form labels */
  }
}
